<!DOCTYPE html>
<html lang="{{craft.app.language}}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Hockey store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    {% do craft.app.view.registerCssFile('@web/styles/normalize.css') %}
    {% do craft.app.view.registerCssFile('@web/styles/style.css') %}
    {% do craft.app.view.registerJsFile('@web/scripts/main.js') %}
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-top">
                <div class="hamburger-menu">
                    <button class="hamburger" type="button" onclick="toggleNav()"><img src="{{ siteUrl }}images/hamburger.png" alt="hamburger" style="width: 20px"></button>
                </div>
                <div class="logo">
                       {% set logoImage = header.companyImage.one() %}
                         <img id="logo" src="{{ logoImage.getUrl('logoPreview') }}" alt="logo">
                </div>
                <div class="search">
                    <input class="search" type="text" name="search" placeholder="Search">
                    <button class="submit-search" type="button"><img src="{{ siteUrl }}images/search.png" alt="search" style="width: 15px"></button>
                </div>
                <div class="cart">
                    <button class="submit-search-mobile" type="button"><img src="{{ siteUrl }}images/search.png" alt="search" style="width: 15px"></button>
                    <a href="cart.php"><img src="{{ siteUrl }}images/market.png" alt="cart" style="width: 20px"></a> 
                </div>
            </div>
            <nav id="mobileNav">
               <a href="{{ siteUrl }}">Home</a>
               <div class="dropdown">
               <button onclick="window.location.href='{{ siteUrl }}products'" >Products</button>
                    <div class="dropdown-menu">
                            <a href="{{siteUrl}}products/skates">Skates</a>
                            <a href="{{siteUrl}}products/sticks">Sticks</a>
                            <a href="{{siteUrl}}products/helmets">Helmets</a>
                    </div>
                    <div class="dropdown-menu-mobile">
                            <a href="{{siteUrl}}products/skates">Skates</a>
                            <a href="{{siteUrl}}products/sticks">Sticks</a>
                            <a href="{{siteUrl}}products/helmets">Helmets</a>
                    </div>
               </div>
                    <a href="#">About us</a>
                    <a href="#">Contact</a>
            </nav>
        </div>
    </header>
    {% block content %}
    
    {% endblock %}
</body>
</html>
