{# Sets a default value if not defined #}
{% set query = query ?? '' %}

 <div class="field">
            <input sprig s-trigger="keyup changed" s-replace="#productContainer" type="text" name="query" value="{{ query }}" placeholder="Search" class="text">
        </div>
        <div class="shop-container" id="productContainer">
            {% set entries = craft.entries().section('products').search(query).all() %}
            {% if entries|length %}
                {% for entry in entries %}
                    <div class="product">
                        {% set productImage = entry.productImage.one() %}
                        {% if productImage %}
                            <img src="{{ productImage.getUrl('imagePreview') }}" alt="{{ entry.title }}" class="desktop-image">
                            <img src="{{ productImage.getUrl('mobilePreview') }}" alt="{{ entry.title }}" class="mobile-image">
                        {% endif %}
                        <h2>{{ entry.title }}</h2>
                        <p>€ {{ entry.productPrice }}</p>
                        <button>Add to cart</button>
                    </div>
                {% endfor %}
            {% else %}
                No results
            {% endif %}
        </div>
    </div>
